 /* stylelint-disable */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.feedbackDiv{
  align-items: center;
  background: radial-gradient(circle,
  rgba(2, 0, 36, 1) 30%,
  /* rgb(6, 6, 103) 90%, */
  rgba(1, 18, 47, 0.866) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
