/* stylelint-disable */

/* https://getcssscan.com/css-buttons-examples */
/* https://cssgradient.io/ */
/* https://programmersportal.com/how-to-give-space-between-two-buttons-in-css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.redBorder {
  border: 3px solid red;
}

.greenBorder {
  border: 3px solid rgb(6, 240, 15);
}

/* background-color: #072053; */
.QA-div {
  align-items: center;
  background: radial-gradient(circle,
  rgba(2, 0, 36, 1) 30%,
  /* rgb(6, 6, 103) 90%, */
  rgba(1, 18, 47, 0.866) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

/* .button-div  */
button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial , sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  white-space: pre;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.questionCategory {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.buttonNext {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 25px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.buttonNext:focus:not(:focus-visible),
.buttonNext:focus {
  outline: 0;
}

.buttonNext:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.buttonNext:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.buttonNext:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.buttonNext:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.buttonNext:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}